/* TASK 4 CSS */
body {
  background-color: grey;
}

div#imatges {
  background-color: blueviolet;
  padding: 5px;
  margin:5px;
  height: 500px;

  position: relative;
}

p#titol {
  font-size: 3rem;
  text-decoration: underline;
  font-style: italic;
  margin: 5px;

  position: fixed;

  /* CSS AL DAVALL */
  visibility: hidden;
}

h2 {
  font-size: 40px;
  color: white;
  margin: 0px;

  position: relative;

  /* CSS AL DAVALL */
  text-align: center;
  z-index: 1;
  margin-bottom: -50px;
  display:flex;
  top:150px;
  right:-450px;
}

img#model {
  position: absolute;

  /* CSS AL DAVALL */
 top:5%;
 left: 40px;

}

img#scissors {
  position: absolute;

  /* CSS AL DAVALL */
bottom: 4%;
right: 15px;



}

.description {
  font-size: 2em;
  color: yellowgreen;

  position: relative;

/* CSS AL DAVALL */
  display: flex;
  align-items: flex-end;
  margin-top: -50px; 
  margin-left: 10px;
}